<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
		BuyEDalerService(
		{
			"Id":"Mock",
			"Name":"Mock payment service",
			"IconUrl":"https://upload.wikimedia.org/wikipedia/en/6/62/Kermit_the_Frog.jpg",
			"IconWidth":282,
			"IconHeight":353,
			"ContractTemplateId":null,
			"Supports":(Currency)->true,
			"CanBuyEDaler":(AccountName)->true,
			"GetOptions":(Request)->[],
			"BuyEDaler":(Request)->
			(
				Sleep(5000);
				Error("Kermit took all the money and ran.")
			)
		});
		]]>
	</StartupScript>
</ServiceConfiguration>