<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
		SellEDalerService(
		{
			"Id":"Mock",
			"Name":"Mock payment service",
			"IconUrl":"https://upload.wikimedia.org/wikipedia/en/6/62/Kermit_the_Frog.jpg",
			"IconWidth":282,
			"IconHeight":353,
			"ContractTemplateId":"2c00eabc-79ff-37c3-b019-fc9c5e709fef@legal.lab.tagroot.io",
			"Supports":(Currency)->true,
			"CanSellEDaler":(AccountName)->true,
			"GetOptions":(Request)->
			(
				Sleep(2000);
				[
					{
						"Account":"Account 1",
						"Message":"First"
					},
					{
						"Account":"Account 2",
						"Message":"Second"
					},
					{
						"Account":"Account 3",
						"Message":"Third"
					}
				]
			),
			"SellEDaler":(Request)->
			(
				Sleep(5000);
				Error("Kermit took all the money and ran.")
			)
		});
		]]>
	</StartupScript>
</ServiceConfiguration>