<?xml version="1.0" encoding="utf-8"?>
<ServiceConfiguration xmlns="http://waher.se/Schema/ServiceConfiguration.xsd">
	<StartupScript>
		<![CDATA[
		PaymentService(
		{
			"Id":"Mock",
			"Name":"Mock web payment service",
			"IconUrl":"https://upload.wikimedia.org/wikipedia/en/6/62/Kermit_the_Frog.jpg",
			"IconWidth":282,
			"IconHeight":353,
			"Supports":(Currency)->true,
			"Pay":(Request)->
			(
				Error("Nope, I don't want to.")
			)
		});
		]]>
	</StartupScript>
</ServiceConfiguration>